//
// Vars
// --------------------------------------------------

// Indicators colors
$indicator-top-color: #00e676;
$indicator-up-color: #23b7e5;
$indicator-steady-color: #fbc02d;
$indicator-down-color: #c62828;


//
// Panels
// --------------------------------------------------

.panels {
	padding:120px 0	;
}

.panel {
	padding-bottom:15px;
	background: #fff;
	@include border-radius(15px);
	@include clearfix;
	margin-bottom:15px;
	
	h2 {
		text-transform: uppercase;
		margin: 0px;
		color: #00e676;
	}

	.panel-icon, .panel-title {display: inline-block;}

	.panel-icon {
		@include border-radius(15px);
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 30px;
		color: #fff;
		background-color: #00e676;

			> span {
			margin-left: -3px;

			em {
			text-transform: uppercase;
			font-style: normal;
			}
		}
	}

	.panel-header {
		padding:15px;
		//padding-bottom:15px;
	}
	.indicator-text {
		color: #999;
		display: block;
		text-align: center;
		@include clearfix;
		font-weight: 700;
		font-size: 17px;
		line-height: 15px;
		
		strong {font-size:25px;}

		&.top, &.top strong {
			color:$indicator-top-color;
			> i {@include rotate(-90deg);}
		}
		&.up, &.up strong {
			color:$indicator-up-color;
			> i {@include rotate(-45deg);}
		}
		
		&.steady, &.steady strong {
			color:$indicator-steady-color;
		}
		&.down, &.down strong {
			color:$indicator-down-color;
			> i {@include rotate(45deg);}
		}
	}
}

//
// supercal
// --------------------------------------------------
.supercal {
	width: 300px;
}

.supercal .supercal-header {
	display: block;
	line-height: 30px;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
	background-color:#d32f2f;
}

.supercal .supercal-header .prev-month {
	float: left;
}

.supercal .supercal-header .next-month {
	float: right;
}

.supercal-month {
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.supercal table {
	width: 300px;
	table-layout: fixed;
	background: #fff;
}

.supercal td {
	cursor: pointer;
}
.supercal td:hover {
	background: #2f96b4 !important;
	color: #fff;
}
.supercal td.month-prev, .supercal td.month-next {
	background: #eee;
}
.supercal td.selected {
	background: #0088cc;
	color: #fff;
	font-weight: normal;
}
.supercal td.today {
	font-weight: bold;
}

/* Footer */
.supercal .supercal-footer {
	width: 100%;
	display: table;
}
.supercal .supercal-footer span.supercal-input {
	display: table-cell;
	width: 100%;
	cursor: default;
}


