//
// Bouton d'ouverture de la Navigation / Type Hamburger
// --------------------------------------------------
.navtoggle {
	position: relative;
	display:block;
	width: 40px;
	height: 30px;
	cursor: pointer;
	font-size: 2em;
	top: 20px;
	left: 20px;
  
  &.on {
    .one {
      @include transform(rotate(45deg) translate(7px, 7px));
    }

    .two {
      opacity: 0;
    }

    .three {
      @include transform (rotate(-45deg) translate(8px, -10px));
    }
  }
}

.one,
.two,
.three{
  width: 100%;
  height: 5px;
  background: white;
  margin: 6px auto;
  backface-visibility: hidden;
  @include transition-duration(0.3s);
}


//
// Navigation - Menu Slide Out
// --------------------------------------------------

// Class wrapper à mettre sur le body
.wrapper {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.side-nav {
  background-color: #212121;
  border-right: 1px solid #34495e;
  color: #fff;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding: 20px 0;

  .logo-menu {
  	padding: 10px 20px 20px;
  	text-align: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;


  }
}

.nav-open {
  left: 250px;
  position: fixed;
  
  .side-nav {
    left: 0;
  }
}

.wrapper, .side-nav {
  //transition: left .2s ease;
  @include transition(left .2s ease)
}

//
// Animation des liens de navigation
// --------------------------------------------------

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: 20px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 30px 20px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	z-index: 1;
	@include transition (all 0.3s);
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	@include transition (all 0.3s);
}

/* Button 1 */
.btn-1 {
	//border: 3px solid #fff;
	color: rgba(255, 255, 255, 1);
}

/* Button 1c */
.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.1);
}

.btn-1c:hover,
.btn-1c:active {
	color: #fff;
	text-decoration: none;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}